.calendar_field{
    width: 100%;
}
.calendar_navbar{
    height:7%;
    display:flex;
    justify-content: flex-end;
    gap:1px;
}

.navbar_select{
    height: 60%;
    width:8%;
    font-size: larger;
    border-radius: 5px;
    border:2px solid rgb(198, 212, 224);
    background-color:white;
    color:rgb(76, 81, 85);
   
}