.calendar_wrapperitems{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 3px;
    height: 80%;
    font-size:larger
}
.date{
    padding: 5px;
    border-top:2px solid rgb(227, 231, 235) 
}
.date:hover{
    background-color: rgb(231, 247, 255);
    color: rgb(17, 145, 255);
    border-top:2px solid rgb(17, 145, 255)

}
.another_month{
    color:rgb(209, 205, 205);
    overflow: hidden;
}
.current_month{
    overflow: hidden;
}